<{{headingLevel}}{{#if headingModifier}} class="{{headingModifier}}"{{/if}}>
    {{#if headingPreModifier}}<span class="heading__pre {{headingPreModifier}}" aria-hidden="true"></span>{{/if}}
    <span class="heading__main{{#if headingMainModifier}} {{headingMainModifier}}{{/if}}">{{headingMainText}}</span>
    {{~#if headingPostModifier}}<span class="heading__post {{headingPostModifier}}" aria-hidden="true"></span>{{/if}}
</{{headingLevel}}>
